body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0
}

h1 {
    color: #333;
    margin-top: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/*Index.php*/


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #f2f2f2;
}

a.active {
    background-color: #ccc;
}

ul::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 50px;
}







